*{
    margin: 0;
    padding: 0;
}
canvas{
    background-color: rgb(12, 16, 41);
    border: white solid 1px;
    overflow:hidden;
}
h1{
    color:white;
    text-align:center;
    background-color:rgb(9, 9, 17);
    border-radius:5px;
}
body{
    background-color:rgb(15, 15, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://images.pond5.com/space-animation-background-nebula-stars-footage-074007962_iconl.jpeg");
    background-size: cover;
}
canvas{
    height:1000px;
    width:800px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(147, 192, 49, 0.5);
}
.earth{
    position:absolute;
    top:45%;
    left:46%;
    height:200px;
    width:200px;
    background-image:none;
    border-radius:60%;
}
.astro{
    position:absolute;
    top:30%;
    left:40%;
    height:150px;
    width:150px;
    border-radius:30%;
}
h2{
    color:white;
    text-align:center;
    background-color:rgb(9, 9, 17);
    border-radius:5px;
    margin-top:10px;
   padding-top:2px;
}


 