*{
    margin: 0;
    padding: 0;
}
canvas{
    background-color: rgb(12, 16, 41);
    border: white solid 1px;
    overflow:hidden;
}
h1{
    color:white;
    text-align:center;
    background-color:rgb(9, 9, 17);
    border-radius:5px;
}
body{
    background-color:rgb(15, 15, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
canvas{
    height:1000px;
    width:800px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(147, 192, 49, 0.5);
}
.button{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    box-shadow: 0 0 20px rgba(120, 129, 40, 0.5);
    color:whitesmoke;
    background-color: rgb(16, 16, 33);
}


 